<component name="libraryTable">
  <library name="spring-android-auth-1.0.0.M4">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/spring-android-auth-1.0.0.M4.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring-android-core-1.0.0.M4.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring-android-rest-template-1.0.0.M4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>